* {
    margin: 0;
    padding: 0;
    font-family: Boldonse;
}


/*----------Header-------------------*/

.header-nav.active {
    display: none;
}

header {
    .header-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #341310;
        padding: 5px 20px;


        .header-nav {
            width: 95%;
            background-color: #341310;
            text-align: center;
            font-family: Boldonse;
            text-transform: uppercase;
            border-top: 1px solid white;
            position: absolute;
            top: 80px;
            right: 5px;
            z-index: 5;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 10px;

                    a {
                        color: #ccc;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }

        }
    }
}

.header-desktop {
    display: none;
}


.header-logo {
    img {
        width: 70px;
    }
}

.header-menu {
    i {
        border: 1px solid white;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        padding: 10px;
    }

}



/*--------Sobre------------------------*/
main {
    .banner {
        position: relative;
        height: 100vh;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


    .intro-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: rgba(0, 0, 0, 0.7);
        padding: 1.7rem;
        border-radius: 20px;
        color: white;
        width: 80%;
        height: 55%;
        font-size: 1.2rem;
        text-align: center;
        font-family: boldonse;
        text-decoration: none;
    }

    .intro-title {
        font-size: 1.8rem;
        color: gold;
        margin-bottom: 0.1rem;
    }

    .intro-text {
        font-size: 1rem;
        line-height: 2;
        margin-bottom: 20px;
    }



}


.btn {
    background: linear-gradient(to right, rgb(129, 47, 47), rgb(255, 0, 0));
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}

.btn:hover {
    background: linear-gradient(to left, rgb(129, 47, 47), rgb(255, 0, 0));
}

.flex {
    display: flex;

    .col {
        text-align: center;

    }
}

.sobre {
    background-color: #b1b1b1;
    min-height: 100vh;
    width: 100%;
    display: flex;

    h2 {

        font-family: boldonse;
        text-align: center;
        color: white;
        transform: translate(0%, 10%);
        background: rgb(41, 15, 13, 2);
        padding: 1rem;
        max-width: 500px;
        border-radius: 15px;
        margin-bottom: 30px;
        font-size: 1.3rem;

    }



    .container {


        p {
            font-family: boldonse;
            margin: 2px;
            text-align: justify;
            padding: 1rem;
            background: rgb(248, 248, 248);
            border-radius: 15px;
            margin-bottom: 30px;
            box-shadow: 0px 5px 10px;
        }
    }

}

/*-----Galeria de Fotos-------------------*/
body {
    background-image: url("../imagens/TelaSite.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 80%;
    padding: 20px;
    margin: 0 auto;
    background-color: rgba(206, 205, 205, 0.95);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}

.galeria div {
    height: 150px;
}

.foto {

    background-color: #fafafa;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.3s ease;

}

.foto img {
    max-height: 200px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;


}

.foto img:hover {
    transform: scale(1.1);
}

/*---------------Contato----------------*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.form-container {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
    max-width: 300px;
    margin: 100px auto 0 auto;

}


label {
    font-family: Boldonse;
}

.Formularios {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #636363;
    border-radius: 5px;
}

.Formularios:focus {
    background: lightyellow
}

label,
.Formularios {
    margin: 10px 0;
}

.btn-submit {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;

}

.btn-submit {
    background: green;
}


/*----Rodapé-------------------------*/

footer {
    margin-top: auto;
    padding: 12px 0;
    background-color: #341310;
    text-align: center;
    font-size: 10px;
    color: #888;
}



/*Regras para telas maiores que 480px*/
@media (min-width: 480px) {

    .header {
        width: 100%;

        .header-mobile {
            display: none;
        }

        .header-desktop {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #341310;
            padding: 5px 20px;


            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 10px;


                    a {
                        color: #ccc;
                        text-decoration: none;
                        font-weight: bold;
                    }
                }
            }
        }


        .header-logo {
            img {
                width: 80px;
            }
        }

        .header-nav {
            display: block;
            border: 0;

            ul {


                li {

                    display: inline-block;

                    a {
                        padding: 10px;
                        display: block;

                        a:hover {
                            color: white;
                        }

                    }
                }
            }
        }
    }

    main .banner .intro-overlay {
        width: 890px;
        height: 530px;
        font-size: 2.5rem;
    }

    main .banner .intro-title {
        font-size: 2.5rem;
    }

    main .banner .intro-text {
        font-size: 1.8rem;
        line-height: 2.8rem;
    }

    .btn {
        font-size: 1.2rem;
        padding: 15px 20px;
    }

    /*-----------------Sobre-------------------------------*/
    .sobre {
        h2 {
            transform: translate(0%, 15%);
            font-size: 1.5rem;
        }


        p {
            font-size: 1.8rem;

        }
    }

    /*-----------------Galeria de Fotos--------------------------*/
    .galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px 10px;

    }

    .galeria img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        border-radius: 8px;

    }

    .galeria div {
        height: 200px;

    }

    /*------Contato---------------*/
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 20px;


    }

    h1 {
        font-size: 2rem;
    }
}